
body{
	background-image: url(https://images.unsplash.com/photo-1583511666407-5f06533f2113?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
	background-attachment: fixed;
	color: white;
}

html {
	height: 100%;
}

#content{
	text-align: center;
	padding-top: 25%;
	text-shadow: 1px 1px 2px yellow, 0px 16px 22px black;
}

h1{
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

